<div style="direction: rtl" class="container mt-5">
  <div style="direction: rtl" class="container mt-5">
    <h2>
      شما احتمال زیاد نیاز به تعمیرکار داری، مشکلات احتمالی دستگاهت و قیمت‌هاش
      به صورت پایینه
    </h2>
  </div>
  <img class="img-fluid mt-3" src="../../assets/list1.png" alt="" />
  <h6 class="text-danger mt-3">
    نکته: قیمت‌های درج شده در جدول مجموع اجرت و اجناس باهم می‌باشد.
  </h6>
  <div class="mt-3 mx-2 text-center">
    <button class="mt-3 btn btn-secondary">سفارش تعمیرکار در قم</button>
    <a href="/cancel" class="d-flex flex-row align-items-center"
      >نه نمیخوام</a
    >
  </div>
</div>
