<div style="direction: rtl" class="container mt-5">
  <div style="direction: rtl" class="container mt-5">
    <h2>اگه پکیج روشن نمیشه موارد زیر رو چک کن شاید درست بشه</h2>
  </div>
  <li class="mt-3">
    فشار دستگاه باید بین ۱ تا ۲ باشه، اگر نیست یه شیر زیر دستگاه هست، بازش کن و
    صبر کن تا عقربه بیاد بالا و سریع ببندش
  </li>
  <div class="d-flex flex-row gap-3">
    <img class="img-fluid w-50 mt-3" src="../../assets/unnamed-2.png" alt="" />
    <img class="img-fluid w-50 mt-3" src="../../assets/unnamed-3.png" alt="" />
  </div>
  <div class="mt-3">
    <a href="/solved"
      ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
        ممنون حل شد
      </button></a
    >
    <a href="issue1part3"
      ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
        مشکل از این نبود
      </button></a
    >
  </div>
  <div class="mt-3 mx-2">
    <a href="/issue1" class="d-flex flex-row align-items-center"
      >قبلی<i class="bi bi-arrow-left me-1 mt-1"></i
    ></a>
  </div>
</div>
