<div style="direction: rtl" class="container mt-5">
  <h2>مشکل پکیجت چیه؟</h2>
  <div class="d-flex flex-column row">
    <div>
      <a href="issue1"
        ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
          پکیج روشن نمیشه
        </button></a
      >
      <a href="issue2"
        ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
          آب گرم و سرد میشه
        </button></a
      >
    </div>
    <div>
      <a href="issue3"
        ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
          خیلی صدا میده
        </button></a
      >
      <a href="issue4"
        ><button style="width: 47%" class="mx-1 col-6 btn btn-outline-dark">
          آب زیاد داغ نمیشه
        </button></a
      >
      <a href="issue5"
        ><button class="col-12 btn btn-outline-dark">
          فشار دستگاه همش میفته
        </button></a
      >
      <a href="issue6"
        ><button class="col-12 btn btn-outline-dark">
          آب گرمه ولی رادیاتور سرده
        </button></a
      >
      <a href="issue7"
        ><button class="col-12 btn btn-outline-dark">
          رادیاتور گرمه ولی آب سرده
        </button></a
      >
    </div>
  </div>
  <div class="mt-3 mx-2">
    <a href="/mark" class="d-flex flex-row align-items-center"
      >قبلی<i class="bi bi-arrow-left me-1 mt-1"></i
    ></a>
  </div>
</div>
