<div style="direction: rtl" class="container mt-3 d-flex flex-column">
  <div>
    <input class="form-check-input ms-3" type="radio" />
    <label class="form-check-label"> از انجام کار منصرف شدم </label>
  </div>
  <div>
    <input class="form-check-input ms-3" type="radio" />
    <label class="form-check-label"> قیمت ها بالا بود</label>
  </div>
  <div>
    <input class="form-check-input ms-3" type="radio" />
    <label class="form-check-label">
      میخواستم بدونم هزینه تعمیر چقدر میشه</label
    >
  </div>
  <div>
    <input class="form-check-input ms-3" type="radio" />
    <label class="form-check-label"> تو شهر قم نیستم</label>
  </div>
  <div>
    <input class="form-check-input ms-3" type="radio" />
    <label class="form-check-label"> سایر</label>
  </div>
  <a class="mt-3 btn btn-secondary" href="/submited"> ثبت </a>
</div>
