<div style="direction: rtl" class="container mt-5">
  <h2>مارک دستگاهت چیه؟</h2>
</div>
<div
  class="mt-3 mx-2 d-flex flex-column align-items-center justify-content-center"
>
  <div>
    <a href="/problem"
      ><button class="btn btn-outline-dark">ایران رادیاتور</button></a
    >
    <a href="/problem"><button class="btn btn-outline-dark">بوتان</button></a>
  </div>
  <div>
    <a href="/problem"><button class="btn btn-outline-dark">مرکوری</button></a>
    <a href="/problem"><button class="btn btn-outline-dark">تاچی</button></a>
  </div>
  <div>
    <a href="/other"><button class="btn btn-outline-dark">سایر</button></a>
    <a href="/problem"><button class="btn btn-outline-dark">لرچ</button></a>
  </div>
</div>
