button {
  min-width: 120px;
}
body {
  background: url(../src/assets/background.png),
    linear-gradient(#f0e9e3, #f0e9e3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
