<div class="container d-flex flex-column">
  <div class="input-group mt-5">
    <input
      mdbInput
      placeholder="Search"
      type="search"
      id="form1"
      class="form-control"
    />
    <button type="button" class="btn btn-primary">
      <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
    </button>
  </div>
  <div class="mt-5 d-flex align-items-center">
    <i class="bi bi-dot fs-1"></i>
    <div>
      If there were no result for your search you can&nbsp;
      <span class="text-primary">
        create a draft and submit it for review.</span
      >
    </div>
  </div>
  <div class="d-flex align-items-center">
    <i class="bi bi-dot fs-1"></i>
    You can also&nbsp;
    <span class="text-primary">contact us&nbsp;</span>for more informations.
  </div>
</div>
